<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/hotel.png">
    </div>
    <p class="icon-desc">酒店</p>
</div>
<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/flight.png">
    </div>
    <p class="icon-desc">机票</p>
</div>
<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/package.png">
    </div>
    <p class="icon-desc">度假</p>
</div>
<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/train.png">
    </div>
    <p class="icon-desc">火车票</p>
</div>
<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/piao.png">
    </div>
    <p class="icon-desc">景点</p>
</div>
<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/bus.png">
    </div>
    <p class="icon-desc">特惠</p>
</div>
<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/bargainflight.png">
    </div>
    <p class="icon-desc">低价机票</p>
</div>
<div class="icon">
    <div class="icon-img"> 
        <img class="icon-img-content"src="https://s.qunarzz.com/homenode/images/touchheader/inn.png">
    </div>
    <p class="icon-desc">客栈</p>